Diagnostics:
  ClangTidy:
    Add: [core*,
          modernize*, 
          bugprone*, 
          cppcoreguidelines*, 
          google*, 
          performance*, 
          misc*, 
          readability*, 
          clang-analyzer-security*,
          clang-analyzer-core*,
          clang-analyzer-cplusplus*,
          clang-analyzer-deadcode*,
          clang-analyzer-optin.cplusplus*,
          clang-analyzer-optin.core*]
    Remove: [modernize-use-trailing-return-type,
             google-readability-todo,
             bugprone-easily-swappable-parameters,
             modernize-use-equals-default,
             cppcoreguidelines-owning-memory,
             readability-use-anyofallof,
             cppcoreguidelines-avoid-do-while,
             google-objc*,
             misc-no-recursion]
  UnusedIncludes: Strict
